@{
    ViewData["Title"] = "ADD";
}
<h1>@ViewData["Title"]</h1>

<p>you can view logs here</p>
<form id="form1" action="Modify" method="POST">
    <button type="submit" form="form1" value="Submit">Submit</button>
</form>

