@{
    ViewData["Title"] = "Delete data";
}
<h1>@ViewData["Title"]</h1>


<p>you can delete data here</p>

<form id="form1" action="Add" method="POST">
    <button type="submit" form="form1" value="Submit">Submit</button>
</form>