@{
    ViewData["Title"] = "ADD";
}
<h1>@ViewData["Title"]</h1>

<p>you can view logs here</p>
<button id="btn_click"><a href="https://learn.microsoft.com/en-us/dotnet/core/extensions/high-performance-logging">ADD</a></button>

