@model Customer_06_06_23_entity_loan_.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cusname" class="control-label"></label>
                <input asp-for="Cusname" class="form-control" />
                <span asp-validation-for="Cusname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanStartdate" class="control-label"></label>
                <input asp-for="LoanStartdate" class="form-control" />
                <span asp-validation-for="LoanStartdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDuedate" class="control-label"></label>
                <input asp-for="LoanDuedate" class="form-control" />
                <span asp-validation-for="LoanDuedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Principle" class="control-label"></label>
                <input asp-for="Principle" class="form-control" />
                <span asp-validation-for="Principle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateOfInterest" class="control-label"></label>
                <input asp-for="RateOfInterest" class="form-control" />
                <span asp-validation-for="RateOfInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfYears" class="control-label"></label>
                <input asp-for="NoOfYears" class="form-control" />
                <span asp-validation-for="NoOfYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculatedAmount" class="control-label"></label>
                <input asp-for="CalculatedAmount" class="form-control" />
                <span asp-validation-for="CalculatedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
